<p id="notice"><%= notice %></p>

<p>
  <b>Palabra:</b>
  <%= @palabras_buscar.palabra %>
</p>


<%= link_to 'Edit', edit_palabras_buscar_path(@palabras_buscar) %> |
<%= link_to 'Back', palabras_buscars_path %>
